@import '../../styles/vars';

.song-section-2 {
	.image-rose{
		animation: rotating linear 28s infinite;
	}
	@include media-breakpoint-down(sm) {
		.caption {
			margin: 100px 0;
		}
		.image-rose{
			width: 130px;
		}
		.image-man{
			width: 150px;
		}
	}
}
