$base-font-size: 22px;
$logo-font-size: 98px;
$header-font-size: 198px;

$black-color: #09090A;
$bg-color: #f4dddb;
$was-color: #F87804;
$player-color: #F4DDDB;
$shadow-color: #DBBFBD;
$gray-color: #BABABA;
$index-color: #A30000;
