@font-face {
	font-family: "DIN";
	font-weight: bold;
	src: url('../assets/fonts/ParaType - DIN Condensed.otf');
}
@font-face {
	font-family: "DIN-L";
	font-weight: 100;
	src: url('../assets/fonts/ParaType - DIN Condensed Light.otf');
}

