@import '../../styles/vars';

.song-section-6 {
	h2{
		width: 70%;
	}
	.image{
		z-index: -1;
		transform: scale(1.5);
	}
	@include media-breakpoint-down(sm) {
		.image{
			transform: scale(1);
			position: unset;
			width: 200px;
			margin-bottom: 40px;
		}
	}
}
