@import '../../styles/vars';

.song-section-5 {
	.m {
		padding: 150px 0;
	}
	.image{
		margin-bottom: 40px;
	}

	@include media-breakpoint-down(sm) {
		.image{
			position: unset;
			width: 100%;
		}
	}
}
