@import '../../styles/vars';

.footer {
	background-position: 0 top;
	padding: 250px 0 50px;

	@include bg($wave2);

	p {
		margin-bottom: 0;
	}

	.share-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: 'PT Serif', serif;
		font-size: $base-font-size;
		border-radius: 100px;
		height: 83px;
		border: 2px dotted black;
		background-color: white;

		@include media-breakpoint-down(sm) {
			margin: 20px;
		}

		&:hover {
			filter: invert(1);
		}
	}

}
