@import '../../styles/vars';

.song-section-5 {
	.image-wrapper {
		position: absolute;
		top: 0;
		right: 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	@include media-breakpoint-down(sm) {
        .image-wrapper{
            position: unset;
	        margin-bottom: -320px;
        }
	}
}
