@import "../../styles/vars";

.banner {
	padding: 150px;
	box-shadow: -10px 10px 80px #DBBFBD;
	border-radius: 150px;

	position: relative;
	left: -170px;
	margin-bottom: 150px;


	.text {
		margin: 0 30px;
	}

	.image-wrapper {
		margin-left: 10%;
	}

	.image {
		position: absolute;
		width: 450px;
		z-index: 1;
	}

	@include media-breakpoint-down(md) {
		padding: 50px;
		left: 0;
		.image-wrapper {
			display: flex;
			margin-left: 0;
		}
		.image {
			position: unset;
			width: 250px;
			margin: 20px auto;
			height: 100%;
		}
	}
	@include media-breakpoint-down(sm) {
      .text {
        margin: 20px 10px;
      }
        .image {
          width: 100%;
		}
	}
}
